*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1ecec;
}
.bask{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin: 40px;
    border-radius: 15px;
}
select {
    display: block;
    width: 100%;
}
.country-option {
    display: flex;
    align-items: center;
}
.country-option img {
    width: 24px;
    height: 16px;
    margin-right: 5px;
}
#cacs{
    margin: 40px;
}
.mars1, .mars2, .mars3, .mars4, .mars5{
    justify-content: space-between;
}
input{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 500px;
}
input[type="text"], input[type="date"],input[type="email"],input[type="tel"],input[type="password"], input[type="reset"], input[type="submit"]{
    padding: 5px;
}
select{
    border-radius: 5px;
    padding: 5px;
    width: 500px;
    margin-bottom: 10px;
}
@media (max-width: 690px){
    .mars1, .mars2, .mars3, .mars4, .mars5{
        flex-wrap: wrap;
    }
}
@media (max-width: 1326px){
    select, input{
        width: 500px;
    }

}

@media (max-width: 1210px){
    select, input{
        width: 400px;
    }

}
@media (max-width: 1010px){
    select, input{
        width: 300px;
    }
}
@media (max-width: 810px){
    select, input{
        width: 250px;
    }
}
@media (max-width: 690px){
    select, input{
        width: 450px;
    }
}
@media (max-width: 610px){
    select, input{
        width: 400px;
    }
}
@media (max-width: 551px){
    select, input{
        width: 370px;
    }

}
@media (max-width: 507px){
    select, input{
        width: 310px;
    }
}
@media (max-width: 449px){
    select, input{
        width: 270px;
    }
}
@media (max-width: 413px){
    select, input{
        width: 196px;
    }
}
@media (max-width: 339px){
    select, input{
        width: 120px;
    }
}
#confirm{
    background-color: blueviolet;
    color: #ffffff;
}
#cancel{
    background-color: #ffffff;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.411);
}
#para{
    text-align: center;
}
.bask a{
    text-decoration: none;
    color: blueviolet;
}
.bask p, .bask h3{
    margin-bottom: 5px;
}
@media (max-width: 551px){
    .bask p, #para{
        font-size: 0.9rem;
    }
}
.bask h3{
    font-size: 1.3rem;
}

#cancel:hover{
    background-color: blueviolet;
    color: white;
}